html, body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #282828;
    color: #e6e6e6;
}

*{
  box-sizing:inherit;
  cursor: inherit;
  transition-duration:.2s;
  transition-property:none;
  transition-timing-function:cubic-bezier(.42,0,.58,1)
}

/* Dark Mode Switch */
.light {
    display: block;
    margin-bottom: 1.5em;
    font-size: 1em;
    transform: rotate(90deg);
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.75em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
    color: #fdea7b;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    height: 1.5em;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
  
.light:before, .light:after {
    content: "";
    display: block;
}
  
.light:before {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}
  
.light:after {
    background: linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
          repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
          radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%);
    transform-origin: 25% 50%;
    width: 1.2em;
    height: 1em;
    box-sizing: border-box;
}
  /* Checked */
.light:not(:checked) {
    background-color: rgba(0,0,0,0.45);
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
  
.light:not(:checked):before {
    background-color: currentColor;
    box-shadow: #b8a537 0 0 10px;
    transition: box-shadow 0.5s ease-out;
}
  
.light:not(:checked):after {
    border-left-color: currentColor;
}

.light:hover{
    cursor: pointer;
}

/* Darkn't Mode*/
.darknt{
    background-color: #e6e6e6;
    color: #000;
}


/*  */

/* Holder */
.scrib {
  width: 150px;
  height: 25px;
  display: flex;
  z-index: 1;
  transform:matrix3d(1, -.0975, 0, 0, -0.15, 1.15, 0, 0, 0, 0, 1, 0, 0, -3, 0, 1);
}

/* SVG Path */
.scribble {
  height: 30px; /* Adjust the size of the scribble */
  stroke: #dd0000;
  stroke-width: 3;
  fill: none;
  stroke-dasharray: 2000; /* Path length */
  stroke-dashoffset: 2000; /* Start fully hidden */
  transition: stroke-dashoffset 2s ease-in-out; /* Smooth transition */
}

/* Trigger animation on hover */
.descPreTitle:hover .scrib .scribble, .descPreTitle[open] .scribble {
  stroke-dashoffset: 0; /* Fully drawn */
}

/* show assist */
/* .descPreTitle:hover .assist, .descPreTitle[open] .assist{
  opacity: 1;
  animation: assist 2s ease-in-out;
} */

@keyframes assist {
  0%, 40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fade in on hover or open */
.descPreTitle:hover .assist,
.descPreTitle[open] .assist {
  opacity: 1;
}

.assist{
  position: absolute;
  margin-top: -35px;
  transform: translate(30px, 0px);
  rotate: 11deg;
  opacity: 0;
  transition: opacity 2s ease-in-out, assist 2s ease-in-out;
}

.buttonHolder{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* [] [] []
        [] [] */
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px; 
}
.buttonHolder .btn{
  width: 100px;
}

.div1 { grid-area: 1 / 1 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 5; }
.div3 { grid-area: 1 / 5 / 2 / 7; }
.div4 { grid-area: 2 / 2 / 3 / 4; }
.div5 { grid-area: 2 / 4 / 3 / 6; } 

.desc{
  grid-column: span 1;
  text-align: center;
}

.descTitle{
  transition: 0.3s;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  font-family: "Space Mono", monospace;
  font-size: 22px;
  border-bottom: 2px solid;
  user-select: none;
}

.descPreTitle > div {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  user-select: none;
  padding: 0 20px;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

.descTitle:hover{
  color: rgb(255, 205, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.descPreTitle > div > p {
  flex: 1;
}

.descPreTitle[open] > summary {
   color: orange;
}

.explain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 20px;
    padding: 20px 10vw;
}

.title{
    grid-column: 1 / span 3;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.descButton{
    background-color: rgba(35, 35, 35, 0.2);
    border-radius: 5%;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn{
    height: auto;
    text-align: center;
    margin: 0 5px;
    text-transform: uppercase;
    align-content: center;
    --bg: #121212;
    --hover-bg: #90edff;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 1em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
  .btn:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }


a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    overflow: none;
}

/*  */

label.field {
  align-items: center;
  background: #121212;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  border: 1px solid #121212;
  border-radius: 4px;
  color: #fff;
  margin: 16px;
  max-width: 200px;
  padding: 8px;
  opacity: 0;
  position: relative;
  transition-property: opacity;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.field span {
  color: inherit;
  display: block;
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  left: 9px;
  pointer-events: none;
  position: absolute;
  top: 32px;
  transform: scale(1) translateY(0);
  transition-property: color, font-size, top;
  z-index: 1;
}

label.field span.required::after {
  color: inherit;
  content: "*";
  display: block;
  height: 20px;
  left: -20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

label.field.error span {
  color: #f02318;
}

label.field .psuedo_select {
  position: relative;
  border-color: #666;
  border-style: solid;
  border-width: 0 0 2px 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  margin: 24px 32px 0 0;
  min-width: 150px;
  padding-top: 24px;
  outline: 0;
  z-index: 1;
}

label.field .psuedo_select::after {
  background: url("data:image/svg+xml;utf8,<svg fill='%23666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/></svg>") no-repeat;
  content: "";
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(4px);
  transition-property: background;
}

label.field .psuedo_select .selected {
  height: 24px;
  left: 1px;
  line-height: 24px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(24px);
  transition-property: opacity, transform;
  will-change: transform;
}

label.field .psuedo_select ul {
  background: #111111;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  display: block;
  height: 0;
  list-style: none;
  margin-top: 2px;
  opacity: 0;
  overflow: hidden;
  padding: 0 1px;
  pointer-events: none;
  transition-property: height, opacity;
  width: 100%;
  z-index: 2;
}

label.field .psuedo_select ul li {
  min-height: 32px;
  padding: 8px 4px;
  font-size: 1em;
  display: flex;
  align-items: center;
}

label.field .psuedo_select ul li:hover {
  font-size: 1.1em;
  transition: all 0.1s ease;
  background-color: rgba(70, 70, 70, 0.1);
}

label.field .deselect {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

label.field.focused {
  color: #007bed;
}


label.field.focused .psuedo_select ul {
  background-color: #0D1117;
  opacity: 1;
  pointer-events: all;
}

/*  */
.dropdownHolder{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: row;
  /* width: 200px; */
  margin: 15px auto;
}

div.content {
    box-sizing: border-box;
    max-height: 0;
    overflow: hidden;
    padding: 0 5px;
    transition: max-height .5s ease-out;
}

  details[open] + div.content {
    max-height: 800px; /* Set a max-height flavor enough to show all the content */
    transition: max-height .5s ease-out;
  }

/*  */


@media (min-width: 768px) {
  details > div {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
  }

  details[open] > div {
    opacity: 1;
  }

  details > div > p {
    opacity: 0;
    animation: showContent 0.6s forwards 0.2s;
    margin: 0;
    padding-left: 20px;
  }

  details > div > img {
    opacity: 0;
    animation: showImage 0.3s forwards 0.15s;
    height: 100%;
    margin: 0;
  }
}

@keyframes showImage {
  from {
    opacity: 0;
    clip-path: inset(50% 0 50% 0);
    transform: scale(0.4);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
    transform: scale(1);
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}